# Default github account: someusername_1
Host github-someusername_1
  HostName github.com
  IdentityFile ~/.ssh/someusername_1_rsa
  IdentitiesOnly yes
  
# Other github account: someusername_2
Host github-someusername_2
  HostName github.com
  IdentityFile ~/.ssh/someusername_2_rsa
  IdentitiesOnly yes